# Python files
_pycache__/
*.py[cod]
*$py.class

# venv , env files
venv/
env/
.env

# Data files
Data/
*.mp4
*.avi
*.mov

# IDE settings
.vscode/
.idea/

# Models file
*.pt
Models/

# Logs
*.pickle
*.pkl
*.log